# Install bounded pep8/pyflakes first, then let flake8 install
pep8==1.4.5
pyflakes>=0.7.2,<0.7.4
flake8==2.0
hacking>=0.5.6,<0.8

coverage>=3.6
mock>=1.0
mox>=0.5.3
MySQL-python
nose
nosehtmloutput>=0.0.3
nosexcover
openstack.nose_plugin>=0.7
psycopg2
sphinx>=1.1.2,<1.2
testtools>=0.9.32,<0.9.35
